.header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 0;
	background-color: #e7e7e798;
	z-index: 1;
}

*{
	font-family: 'Mulish', sans-serif;
}

.header p{
	margin-left: 2em;
	font-weight: bold;
	color: #777777;
	font-size: 20px;
}

.logos{
	margin-right: 2em;
}

.logos img{
	height: 50px;
	cursor: pointer;
}

.logos a{
	margin-right: 1em;
	color: inherit;
	text-decoration: none;
}

.logos a:last-child{
	margin-right: 0;
}

.buttons{
	position: fixed;
	z-index: 1;
	display: flex;
	bottom: 1em;
	right: 0;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.animation-btn{
	border-radius: 50%;
	padding: 0;
	width: 68px;
	height: 68px;
	margin-right: 2rem;
	border: 3px solid #45B9BA;
	cursor: pointer;
	background-color: #FFF;
}

.animation-btn:last-child{
	margin-right: 0;
}

.arjs-loader {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arjs-loader div {
	text-align: center;
	font-size: 1.25em;
	color: white;
}

.prompt-body{
	width: 100vw;
	height: 100vh;
}

.prompt-container{
	display: none;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%;
	text-align: center;
}

.browser-logo{
	height: 150px;
	margin: 0 auto;
	display: block;
}

.my-3{
	margin: 1.5em 0;
}

.mb-2{
	margin-bottom: 0.5em 0;
}

.copy-link-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
}

#copy-input-link{
	height: 30px;
	border: 1px solid #000;
	border-radius: 5px 0 0 5px;
	border-right: none;
	padding: 0.5em 1em;
	color: #000;
}

.copy-button{
	width: 50px;
	height: 100%;
	border: 1px solid #000;
	background-color: #FFF;
	margin-left: -1px;
	border-radius: 0 5px 5px 0;
	font-size: 12px;
	cursor: pointer;
	padding: 0;
	text-align: center;
}

@media only screen and (max-width: 767px) {
  .header {
		padding: 0.5em 0;
	}

	.header p{
		font-size: 16px;
		margin-left: 1em;
	}

	.logos {
    margin-right: 1em;
	}

	.logos img {
    height: 40px;
    margin-right: 0.5em;
	}
}